disciplaner.online {
    encode gzip

    handle /telegram/webhook* {
        reverse_proxy tg-bot:8080
    }

    handle {
        reverse_proxy web:3000
    }
}

api.disciplaner.online {
    encode gzip
    reverse_proxy api:4000
}
